<div class="container-fluid triplist-container">
    <div class="row triplist-full-content">    
         <!-- ADS container -->
        <div class="col-sm-1 triplist-ads-space">
            <img src="ads-1.jpg" alt="Ad Image Left" class="ad-image" />
        </div>
        <div class="col-sm-10 triplist-content">
            <div #scrollTarget></div> <!--target for scrolling up after prev & next page -->
            <div class="container-fluid triplist-content-header">
                <div class="triplist-header-title">Adventure! Here I Come</div>

                <!-- Categories Menu -->
                <div class="categories-container">
                    <div class="name-filter-box">
                        <mat-chip-grid #templateChipGrid class="name-filter-box-button" *ngIf="searchName != ''">
                            <mat-chip-row (removed)="removeFilterKeyword()">
                                {{searchName}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        </mat-chip-grid> 
                    </div>  
                    
                    <button [matMenuTriggerFor]="categoryMenu" class="filter-button">
                        {{categoryName}}
                    </button>
                    <mat-menu #categoryMenu="matMenu" xPosition="before">
                        <ng-container *ngFor="let category of categories">
                            <button mat-menu-item (click)="onCategorySelect(category)" class="category-menu-item">
                                {{ category.name }}
                            </button>
                        </ng-container>
                    </mat-menu>
                </div>                    
            </div>

            <!-- Ttips by the filter -->
            <div class="row triplist-list" [ngClass]="trips.length <5&& trips.length >0? 'triplist-list-fixed-div':''">
                <div class="col-md-3" *ngFor="let trip of trips">
                    <mat-card class="triplist-card" appearance="outlined" (click)="navigateToTripDetails(trip.tripId)">
                        <mat-card-header class="triplist-card-header"></mat-card-header>
                        <div mat-card-image class="triplist-card-image-container">
                            <img  class="triplist-card-image" [src]="trip.image || 'def_trip.jpg'" (error)="onImageError($event)" alt="Trip Image">
                        </div>
                        <mat-card-content class="triplist-card-content">
                            <div class="triplist-card-header-name">
                                {{ trip.name }}
                            </div>
                            <div class="triplist-card-header-location">
                                <mat-icon>location_on</mat-icon>
                                <b>{{ trip.location }}</b>
                            </div>
                            <div class="triplist-card-description">
                                <b>Description:</b> 
                                <div>
                                    {{ trip.description }}
                                </div>
                            </div>
                            <div class="triplist-card-footer">
                                <div class="triplist-card-date"><b>Date:</b>&nbsp;{{ trip.timestamp | date:'MMM dd/yy' }}</div>
                                <div class="triplist-card-category">{{ trip.categoryData.name }}</div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="row triplist-list-no-trips" *ngIf="trips==0">
                        <div class="triplist-nolist-content">
                            Couldnt find any trips
                        </div>
                </div>
            </div>

            <!-- Trip page Pagination -->            
            <div class="triplist-pagination-container">
                <button mat-fab extended class="triplist-pagination-button" (click)="clickPrevPage()" *ngIf="prevPage != null">
                    <div class="triplist-pagination-button-content">
                        <mat-icon>arrow_back_ios</mat-icon>
                        Back
                    </div>
                </button>
            
                <div class="triplist-pagination-page-num">{{ this.page + 1 }}</div>
            
                <button mat-fab extended class="triplist-pagination-button" (click)="clickNextPage()" *ngIf="nextPage != null">
                    <div class="triplist-pagination-button-content">
                        Next
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                </button>
            </div>

            <!-- Footer -->        
            <!-- <footer class="footer">
                <div class="footer-content">
                    <div class="footer-left">
                        <p>&copy; 2024. All rights reserved.</p>
                    </div>
                    <div class="footer-center">
                        <ul class="footer-links">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <div class="footer-right">
                    </div>
                </div>
            </footer> -->
        </div>
         <!-- ADS container -->
         <div class="col-sm-1 triplist-ads-space">
        </div>
    </div>
</div>
