.triplist-container{
    display: flex;
    flex-direction: column;
    height: 93vh;
    overflow: scroll;
}

.triplist-full-content{
    flex-grow: 1;
}

.triplist-content-header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.triplist-ads-space{
    background-color: slategrey;
}

.triplist-card-description{
    height: 40px; 
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.triplist-pagination-container{
}
