<div class="container-fluid triplist-container">
    <div class="row triplist-full-content">
        <div class="col-sm-1 triplist-ads-space">
            
        </div>
        <div class="col-sm-10 triplist-content">
            <div #scrollContainer class="container-fluid triplist-content-header">
                <h4 class="triplist-content-header-title">Trips to Join</h4>
            </div>
            <div class="row">
                <div class="col-md-3" *ngFor="let trip of trips" >
                    <mat-card class="triplist-card" appearance="outlined" (click)="navigateToTripDetails(trip.tripId)">
                        <mat-card-header class="triplist-card-header">
                            <div class="triplist-card-header-name">
                                {{ trip.name }}
                            </div>
                            <div class="triplist-card-header-location">in&nbsp;<b>{{ trip.location }}</b></div>
                        </mat-card-header>
                        <img mat-card-image class="triplist-card-image" src="def_trip.jpg">
                        <mat-card-content>
                            <div class="triplist-card-description">
                                {{ trip.description }}
                            </div>
                            <div>
                                <span>{{ trip.timestamp | date:'medium' }}</span>
                                <div>
                                    <button class="triplist-card-category" mat-raised-button disabled>{{ trip.categoryData.name }}</button>
                                    
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="container-fluid triplist-pagination-container">
                <button mat-fab extended (click)="clickPrevPage()">
                    <mat-icon>arrow_back_ios</mat-icon>
                    Previous
                </button>

                <button mat-fab extended (click)="clickNextPage()">
                    Next
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
    
        <div class="col-sm-1 triplist-ads-space">
        </div>
    </div>
</div>
