.triplist-container{
    display: flex;
    flex-direction: column;
    height: 93vh;
    overflow: scroll;
}

.triplist-full-content{
    flex-grow: 1;
}

.triplist-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.triplist-content-header-title{
    font-size: x-large;
}

.triplist-ads-space{
    background-color: rgb(255, 255, 255);
}

.triplist-card{
    margin: 2% 0 3% 0;
    border: 1px solid black;
}

.triplist-card:hover{
    background-color: lightcoral;
    cursor: pointer;
}

.triplist-card-header{
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 0 2% 0 2%;
}

.triplist-card-header-name{
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
}

.triplist-card-header-location{
    flex-grow:1;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.triplist-card-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
}

.triplist-card-description{
    height: 40px; 
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.triplist-card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.triplist-card-date{
    font-size: small;
    font-weight: bold;
}

.triplist-card-category{
    font-size: small;
    font-weight: bold;
    width: 30%;
    height: 30%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: white;
    border: 1px solid black;
}


.triplist-pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.triplist-pagination-button{
    width: 15%;
}

.triplist-pagination-button-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.triplist-pagination-page-num{
    font-size: large;
    padding: 2%;
}
