<section id="campus-meetups" class="people-platform text-center py-5 bg-light">
  <div class="welcome-cm-summary">
    <!-- Display the student's name dynamically -->
    <h2 class="welcome-cm-summary-title">Welcome, {{ user.fname }}!</h2>
    <div class="row welcome-cm-summary-content">
      <div class="col-md-6">
        <p class="lead">Whatever your interest, from hiking and reading to networking and skill sharing, there are thousands of people who share it on CampusMeetups. Trips are happening every day—explore all available trips.</p>
        <button [routerLink]="['/trip']" class="welcome-cm-summary-trips-button">
          View all trips
        </button>
      </div>
      <div class="col-md-6">
        <!-- Image Section -->
        <img src="welcomepage-img.jpg" class="img-fluid welcome-cm-img" alt="Campus Scene">
      </div>
    </div>
  </div>
</section>

<!-- Your Trips Section -->
<section class="your-trips">
  <h2 class="your-trips-title">Your Trips</h2>
  <div class="your-trips-link" *ngIf="trips.length !== 0">
    <button [routerLink]="['/myaccount']">View more</button>
  </div>
  <div *ngIf="trips.length === 0" class="no-trips-message">
    <p class="lead text-muted text-times">No trips planned</p>
  </div>

  <div class="row" *ngIf="trips.length > 0">
    <div class="col-md-3 mb-3" *ngFor="let trip of trips">
      <app-recttripcard [trip]="trip"></app-recttripcard>
    </div>
  </div>
</section>


<!-- Upcoming Active Trips Section -->
<section class="upcoming-trips">
  <div class="upcoming-trips-content">
    <h2 class="upcoming-trips-title">Upcoming Trips</h2>
    <div class="upcoming-trip-sub">
      <div class="empty-div"></div>
      <p class="lead upcoming-trips-subtitle">
        Explore upcoming trips within the next week!
      </p>

      <div class="upcoming-trips-link" >
        <button [routerLink]="['/trip']">View more</button>
      </div>
    </div>

    <div *ngIf="upcomingTrips.length === 0" class="no-trips-message">
      <p class="lead text-muted text-times">No trips planned</p>
    </div>

    <div class="row" *ngIf="upcomingTrips.length > 0">
      <div class="col-md-3 mb-3" *ngFor="let trip of upcomingTrips">
        <app-recttripcard [trip]="trip"></app-recttripcard>
      </div>
    </div>
  </div>
</section>
