<div class="notification-dialog">
    <div class="notification-container" [ngClass]="'notification-' + type">
        <div class="notification-dialog-success" *ngIf="type == 'success'">
            <mat-icon>check_circle</mat-icon>
        </div>
        <div class="notification-dialog-fail" *ngIf="type=='fail'">
            <mat-icon>cancel</mat-icon>
        </div>
        <div class="notification-dialog-info" *ngIf="type=='info'">
            <mat-icon>info</mat-icon>
        </div>
        {{ content }}
    </div>
</div>
