.image-url-container{
    background-color: white;
    padding: 3vh 4vw;
}
.form-group {
    margin-bottom: 1%;
}
  
label {
    font-weight: bold;
    font-size: small;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5vw;
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkred;
  }

.cancel-button{
    background-color: #666;
}
