<div class="container-fluid banner">
    <!-- Header text content-->
    <div class="banner-container">
        <h3 class="banner-header-text">Start Planning Your Next Adventure Today!</h3>
        <div class="banner-text">
            The world is waiting for you and Campus Meetups is here to help you get there!
            Log in now with your campus email to create your first trip, meet fellow students, and get started on your next adventure.
        </div>
        <div class="banner-login" (click)="onLoginButtonClick()">
            <button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" >Login</button>
        </div>
    </div> 
</div>

<section class="text-center py-5">
    <div class="container">
        <h2 class="display-4 mb-4 text-times">What We Offer</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <h5 class="card-title text-times">Explore New Places</h5>
                <p class="card-text text-times">Join groups traveling to exciting destinations, whether you're looking for adventure or relaxation.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <h5 class="card-title text-times">Make New Connections</h5>
                <p class="card-text text-times">Meet students from various campuses, bond over shared interests, and make lifelong friendships.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <h5 class="card-title text-times">Organize Your Own Trips</h5>
                <p class="card-text text-times">Take the lead, create your own meetups, and invite others to join you on your adventures.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
