<div class="container-fluid triplist-container">
<router-outlet>
    <mat-toolbar class="navbar" >
        <div class="navbar-left">
            <img src="Logo.C.png" alt="Campus Meetups Logo" class="navbar-logo" />            
        </div>

        <div class="navbar-right">
            <div class="navbar-content">
                <div class="navbar-selection navbar-left-border">
                    <div class="navbar-item" [routerLink]="['/']">Home</div>
                    <div class="navbar-item">About</div>
                    <div class="navbar-item" [matMenuTriggerFor]="notificationMenu">Contact</div>
                    <mat-menu #notificationMenu="matMenu" class="notifcation-menu">
                        <div class="notification-menu-content">
                            no Contact info
                        </div>
                    </mat-menu>
                    </div>
            </div>
        </div>
    </mat-toolbar>
</router-outlet>


<div class="container-fluid banner">
        <carousel [slides]="slides"></carousel>
        </div>
 
           <!-- Middle container where the login button is placed -->
    <div class="col-sm-10 middle-container">
         <div class="banner-login" (click)="onLoginButtonClick()">
            <h2 class="banner-header-text">What’s there to wait?!</h2>
            <p class="banner-text">Let's log you In!</p>
             <button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Login</button>
        </div>
            </div>

<!--Last section container-->
<section class="text-center py-5">
    <div class="container1">
        <h2 class="display-4 mb-4 text-times">What We Offer</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <h5 class="card-title text-times">Explore New Places</h5>
                <p class="card-text text-times">Join groups traveling to exciting destinations, whether you're looking for adventure or relaxation.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <h5 class="card-title text-times">Make New Connections</h5>
                <p class="card-text text-times">Meet students from various campuses, bond over shared interests, and make lifelong friendships.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <h5 class="card-title text-times">Organize Your Own Trips</h5>
                <p class="card-text text-times">Take the lead, create your own meetups, and invite others to join you on your adventures.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
</div>
