<div class="container-fluid triplist-container">
<router-outlet>
    <mat-toolbar class="navbar" >
        <div class="navbar-left">
            <img src="Logo.png" alt="Campus Meetups Logo" class="navbar-logo" />            
        </div>

        <div class="navbar-right">
            <div class="navbar-content">
                <div class="navbar-selection navbar-left-border">
                    <div class="navbar-item" [routerLink]="['/']">Home</div>
                    <div class="navbar-item">About</div>
                    <div class="navbar-item" [matMenuTriggerFor]="notificationMenu">Contact</div>
                    <mat-menu #notificationMenu="matMenu" class="notifcation-menu">
                        <div class="notification-menu-content">
                            no Contact info
                        </div>
                    </mat-menu>
                    </div>
            </div>
        </div>
    </mat-toolbar>
</router-outlet>


<div class="container-fluid banner">
        <carousel [slides]="slides"></carousel>
        </div>
 
           <!-- Middle container where the login button is placed -->
    <div class="col-sm-10 middle-container">
         <div class="banner-login" (click)="onLoginButtonClick()">
            <h2 class="banner-header-text">What’s there to wait?!</h2>
            <p class="banner-text">Let's log you In!</p>
             <button class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Login</button>
        </div>
            </div>

        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">What We Offer</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <img src="explore.png" alt="Avatar" class="avatar" />
                            <h3 class="h4 mb-2">Explore New Places</h3>
                            <p class="text-muted mb-0">
                                
                                Join groups traveling to exciting destinations, whether you're looking for adventure or relaxation.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <img src="connect.png" alt="Avatar" class="avatar" />
                            <h3 class="h4 mb-2">Make New Connections</h3>
                            <p class="text-muted mb-0">
                                
                                 Meet students from various campuses, bond over shared interests, and make lifelong friendships.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <img src="orga.png" alt="Avatar" class="avatar" />
                            <h3 class="h4 mb-2">Organize Your Own Trips</h3>
                            <p class="text-muted mb-0">
                                
                                Take the lead, create your own meetups, and invite others to join you on your adventures.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
</div>
