.navbar{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 0 1% 0 1%;
}

.navbar-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo{
    height: 40%;
    cursor: pointer;
}

.logo-img{
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.navbar-searchbar{
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid darkred;
    background-color: white;
    overflow: scroll;
    padding: 1% 0 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-searchbar-input{
    flex-grow: 1;
    background: transparent;
    outline-width: 0;
    border: none;
}

.navbar-searchbar-icon{
    color: darkred;
}

.navbar-createtrip-button{
    width: fit-content;
    height: max-content;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    border: 1px solid darkgray;
}

.navbar-createtrip-button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color:lightgray;
    margin: 1px;
}

.navbar-createtrip-button-content span{
    padding-right: 5px;
}

.navbar-selection{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.navbar-left-border{
    border-left: 2px solid darkred;
}

.navbar-selection mat-icon{
    flex-grow: 1;
    font-weight: normal;
    font-size: 36px;
    display: contents;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    direction: ltr;
    color: darkred;
}
