.navbar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    height: 70px; 
    margin-left: 15px; 
}

.navbar-brand{
    color: darkred;
    font-weight: bolder;
}

.navbar-brand:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.navbar-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7px;
    margin-left: 25px;
}

.search-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8.4px;
    width: 180px;
    border: 2px solid darkred;
    border-radius: 11px 0 0 11px;
    height: 35px;
    font-size: 14px;
}

.search-input:focus{
    outline: none;
}
  
.search-button {
    padding: 8px;
    background-color: darkred;
    color: rgb(255, 255, 255);
    border: 2px solid darkred;
    border-radius: 0 11px 11px 0;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;      
    justify-content: center; 
    text-align: center;
}

.search-button mat-icon {
    margin-right: 8px; 
    font-size: 25px; 
}
  
.search-button:hover {
    background-color: rgb(100, 7, 7);
}
  


.navbar-left-border{
    border-left: 2px solid darkred;
    margin-left: 30px;
    padding-left: 10px;
}

.navbar-selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}
  
.navbar-item {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;  
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    direction: ltr;
    color: darkred;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.navbar-item:hover{
    background-color: #efcfcf;
    cursor: pointer;
}

.navbar-createtrip-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 24px;
    background-color: darkred;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    height: 35px;
    width: 150px;
    margin: 0 5px;
}

.navbar-login-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 24px;
    background-color: darkred;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    margin: 0 5px;
}
  
.navbar-createtrip-button:hover {
    background-color: #f46363;
    transform: scale(1.05);
}

.profile-menu-item{
  width: 15vw;
  text-align: right;
  padding: 0 10px;
}
  
@media (max-width: 768px) {
    .navbar-item {
        width: 30%;
        justify-content: right; 
    }

    .navbar-createtrip-button{
      padding: 2px;
      height: 35px;
      width: 100px;
      font-size: 12px;
    }

    .search-input{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 8.4px;
      width: 80px;
      border: 2px solid darkred;
      border-radius: 11px 0 0 11px;
      height: 35px;
      font-size: 10px;
    }
}

.navbar-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-avatar-name{
    margin-right: 5px;
}


.footer {
    background-color: darkred; 
    color: white;
    padding: 20px 0; 
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top {
    margin-bottom: 20px;
}

.footer-top p {
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #db3434;
}

.footer-right {
    text-align: right;
}

::ng-deep .profile-menu {
    transform: translateY(2%) translateX(7%) !important;
    background-color: #f8f9fa !important;
}

::ng-deep .notifcation-menu{
    transform: translateY(2%) translateX(-15%) !important;
    background-color: #f8f9fa !important;
}

.notification-menu-content{
    padding: 20%;
}
