.navbar{
    background-color: rgb(244, 238, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 0 1% 0 1%;
}

.navbar-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo{
    height: 140%;
    cursor: pointer;
}

.logo-img{
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7px;
    margin-left: 25px;
  }

  .search-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8.4px;
    width: 180px;
    border: 2px solid darkred;
    border-radius: 11px 0 0 11px;
    height: 35px;
    font-size: 14px;
  }

  .search-input:focus{
    outline: none;
  }
  
  .search-button {
    padding: 8px;
    background-color: darkred;
    color: rgb(255, 255, 255);
    border: 2px solid darkred;
    border-radius: 0 11px 11px 0;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;      
    justify-content: center; 
    text-align: center;
}

.search-button mat-icon {
    margin-right: 8px; 
    font-size: 25px; 
}
  
  .search-button:hover {
    background-color: rgb(100, 7, 7);
  }
  


.navbar-left-border{
    border-left: 2px solid darkred;
    margin-left: 30px;
    padding-left: 10px;
}

.navbar-selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
  }
  
  .navbar-item {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;  
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    direction: ltr;
    color: darkred;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .navbar-item:hover{
    background-color: rgb(244, 260, 224);
    cursor: pointer;
  }
 
.navbar-selection mat-icon:last-child {

}

.navbar-createtrip-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 24px;
    background-color: darkred;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    height: 35px;
    width: 150px;
    margin: 0 5px;
  }
  
  .navbar-createtrip-button:hover {
    background-color: #fbd8d8;
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {

    .navbar-item {
        width: 30%;
        justify-content: right; 
    }

    .navbar-createtrip-button{
      padding: 2px;
      height: 35px;
      width: 100px;
      font-size: 12px;
    }
    .search-input{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 8.4px;
      width: 80px;
      border: 2px solid darkred;
      border-radius: 11px 0 0 11px;
      height: 35px;
      font-size: 10px;
    }
  }


