<mat-toolbar class="navbar">
    <div class="navbar-left">
        <div class="navbar-content logo">
            <img src="logo.png" alt="Campus Meetups" class="logo-img" />
        </div>

        <div class="navbar-content">
            <div class="navbar-searchbar">
                <input type="text" class="navbar-searchbar-input" placeholder="Search trips..." />
                <mat-icon class="navbar-searchbar-icon" fontIcon="search"></mat-icon>
            </div>
        </div>
    </div>

    <div class="navbar-right">
        <div class="navbar-content">
            <button mat-fab extended class="navbar-createtrip-button">
                <div class="navbar-createtrip-button-content">
                    <mat-icon fontIcon="add"></mat-icon>
                    <span>New trip</span>
                </div>
            </button>
        </div>

        <div class="navbar-content">
            <div class="navbar-selection navbar-left-border">
                <mat-icon fontIcon="home"></mat-icon>
                <mat-icon fontIcon="explore"></mat-icon>
                <mat-icon fontIcon="notifications"></mat-icon>
                <mat-icon fontIcon="account_circle"></mat-icon>
            </div>
        </div>
    </div>
  </mat-toolbar>
<router-outlet />
