<section id="profile-page" class="profile-container py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-md-4 text-center">
        <div class="profile-avatar-container">
          <div class="profile-pic-wrapper">
            <img [src]="userData.image" (error)="onImageError($event)" alt="Profile Image"/>
            <div class="profile-basic-info">
              <div class="profile-name">{{userData.fname}} {{userData.lname}}<mat-icon *ngIf="userData.verified">verified</mat-icon></div>
              <div class="profile-joined"><mat-icon>calendar_today</mat-icon> Joined on {{userData.joined | date:'MMM, yyyy' }}</div>
            </div>
          </div>

          <div class="profile-stats">
            <div class="profile-stats-organized">
              <div class="profile-stats-number">{{organizedTrips.length}}</div>
              <div>organized trips</div>
            </div>
            <div class="profile-stats-joined">
              <div class="profile-stats-number">{{joinedTrips.length}}</div>
              <div>joined trips</div>
            </div>
          </div>

          <div class="profile-bio" *ngIf="userData.bio && userData.bio!==''">
            <div class="profile-bio-title">About me</div>
            {{userData.bio}}
          </div>
        </div>

        <div class="action-buttons" *ngIf="!isMyAccount">
          <button class="btn btn-danger" (click)="onReportUserClick()">Report Student</button>
        </div>

        <div class="profile-edit-container" *ngIf="isMyAccount">
          <div class="profile-edit-info">
            <app-avatar [size]="'medium'"[imgUrl]="userData.image" [fName]="userData.fname" [lName]="userData.lname"></app-avatar>
            <div class="profile-edit-name">
              <div class="profile-edit-title">{{userData.fname || "Heyo"}} {{userData.lname}}</div>
              <div class="profile-edit-link" (click)="onEditProfileClick()"><mat-icon>edit</mat-icon>Edit profile</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 right-section">
        <div class="ads"></div>

        <div class="organized-trips" *ngIf="organizedTrips.length > 0">
          <h2 class="section-title">Trips Organized</h2>
          <hr />
      
          <div class="list-trips">
            <div class="trip-details" *ngFor="let trip of organizedTrips">
              <app-recttripcard [trip]="trip"></app-recttripcard>
            </div>
          </div>
        </div>

        <div class="joined-trips" *ngIf="joinedTrips.length > 0">
          <h3 class="section-title">Trips Joined</h3>
          <hr />
      
          <div class="list-trips">
            <div class="trip-details" *ngFor="let trip of joinedTrips">
              <app-recttripcard [trip]="trip.tripData"></app-recttripcard>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
