<div class="container-fluid triplist-container">
    <div #scrollTarget class="row triplist-full-content">
        <div class="container-fluid banner">
            <div class="triplist-header-title">Find your next adventure from our curated trips below!</div>
            <div class="triplist-header-subtitle">Browse through amazing destinations and start planning your journey today.</div>
        </div>
        <div class="col-sm-10 triplist-content">
            <div class="container-fluid triplist-content-header">
                <!-- Categories Menu -->
                <div class="categories-container">
                    <button [matMenuTriggerFor]="categoryMenu" class="filter-button">
                        {{categoryName}}
                    </button>
                    <mat-menu #categoryMenu="matMenu" xPosition="after">
                        <ng-container *ngFor="let category of categories">
                            <button mat-menu-item (click)="onCategorySelect(category)" class="category-menu-item">
                                {{ category.name }}
                            </button>
                        </ng-container>
                    </mat-menu>

                    <div class="name-filter-box">
                        <mat-chip-set #templateChipGrid class="name-filter-box-button" *ngIf="searchName != ''">
                            <mat-chip-row (removed)="removeFilterKeyword()">
                                {{searchName}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        </mat-chip-set> 
                    </div>  
                </div>                    
            </div>

            <!-- Trips by the filter -->
            <div *ngIf="trips.length>0; else noTrips" class="triplist-list-container">
                <div class="row triplist-list" [ngClass]="trips.length <5? 'triplist-list-fixed-div':''">
                    <div class="col-md-3" *ngFor="let trip of trips">
                        <app-recttripcard [trip]="trip"></app-recttripcard>
                    </div>
                </div>
            </div>
            <ng-template #noTrips>
                <div class="triplist-nolist-content">No trips found. Try again!</div>
            </ng-template>

            <!-- Trip page Pagination -->            
            <div class="triplist-pagination-container">
                <button mat-fab extended class="triplist-pagination-button" (click)="clickPrevPage()" *ngIf="prevPage != null">
                    <div class="triplist-pagination-button-content">
                        <mat-icon>arrow_back_ios</mat-icon>
                        Back
                    </div>
                </button>
            
                <div class="triplist-pagination-page-num">{{ this.page + 1 }}</div>
            
                <button mat-fab extended class="triplist-pagination-button" (click)="clickNextPage()" *ngIf="nextPage != null">
                    <div class="triplist-pagination-button-content">
                        Next
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
